@import 'shared/variaveis.scss';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*:focus {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(104, 197, 226, 0.6);
  -moz-box-shadow: 0px 0px 10px 5px rgba(104, 197, 226, 0.6);
  box-shadow: 0px 0px 10px 5px rgba(105, 198, 226, 0.6);
}

:root {
  font-size: 62.5%;
  font-family: $main-font;
}

input {
  border: 1px solid $gray-color;
  outline: none;
  border-radius: 2rem;
}
